body{
  background: url(../images/login/background.png);
  background-size: contain;
  background-attachment: fixed;
}

main {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h3 {
  font-family: "Luckiest Guy";
  margin: 30px;
  /* color: var(--palette-blue); */
}

.formulario-box {
  border: #ffb200 2px solid;
  padding: 35px 15px;
  /* margin: 15px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  background-color: white;
}

.formulario-item {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 10px;
}
input {
  border: var(--form-field-border);
  background-color: var(--form-field-placeholder);
}

.formulario-botao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.formulario-botao > button {
  width: 40%;
  height: 3rem;
  background-color: var(--palette-orange);
  background: var(--btn-bg-color-gradient);
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  /* animation: wiggle 2.2s linear infinite; */
  font-weight: 300;
}

.formulario-botao > button:hover {
  animation: none;
  outline: 2px solid var(--palette-orange);
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
}

main div p {
  margin: 0;
}

label {
  margin-bottom: 0.2rem;
  position: relative;
}

.helper-text {
  display: none;
  font-size: 0.8rem;
  color: var(--form-field-error);
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: var(--palette-blue);
}

input.error {
  border:2px solid var(--form-field-error);
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: var(--form-field-correct);
  color: #206620;
}

.visible {
  display: block;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Telas maiores */
@media screen and (min-width: 1024px) {
}

/* Telas menores */
@media screen and (max-width: 620px) {
  .formulario-box {
    width: 90vw;
    padding: 15px 0;
    margin: 20px 0;
  }
  .formulario-item {
    width: 70vw;
  }
  .formulario-botao > button {
    width: 40%;
  }
}

/* Animação do botão */
@keyframes wiggle {
  0%,
  10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(-10deg);
  }
  40%,
  100% {
    transform: rotate(0);
  }
}
