  main {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-family: "Luckiest Guy";
    margin-bottom: 30px;
  }

  p {
    font-family: "Luckiest Guy";
  }

  .formulario-box{
    border: #FFB200 2px solid;
    padding: 35px 15px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .formulario-item{
    margin: 10px;
  }

  .formulario-botao{
    padding-top: 20px;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  main div p{
    margin: 0;
  }

  .botao {
    width: 100%;
    height: 2rem;
    background-color: #FFB200;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px 0;
    animation: wiggle 2.2s linear infinite;
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1023px){
    
  }
  
  /* Telas maiores */
  @media screen and (min-width: 1024px){
    
  }

  /* Telas maiores */
  @media screen and (max-width: 620px){
    
    .formulario-box {
      width: 400px;
      padding: 15px 0;
      margin: 20px 0;
    }  
  }

  /* Animação do botão */
  @keyframes wiggle {
    0%,
    10% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%,
    100% {
      transform: rotate(0);
    }
  }