main {
  margin: 100px;
  font-size: 20px;
  font-weight: bolder;
}

h1 {
  font-family: "Luckiest Guy";
  /* color: var(--palette-blue); */
  text-align: center;
  margin: 30px;
}

article > p{
  text-align: justify;
}

h2 {
  /* color: var(--palette-blue); */
  font-family: "Luckiest Guy";
  text-align: center;
  margin-bottom: 20px;
}

.membros {
  margin-top: 100px;
  text-align: center;
}

.cards-membros {
  display: flex;
  justify-content: space-evenly;
  perspective: 2000px;
  perspective-origin: top;
}

/* Efeito card virando */

/* Mouse no primeiro card, o segundo vira */
.cards-membros:has(.card-membro:nth-child(1):hover)
  .card-membro:nth-child(2) {
  transform: rotateY(-45deg);
}
/* Mouse no segundo card, o primeiro vira */
.cards-membros:has(.card-membro:nth-child(2):hover)
  .card-membro:nth-child(1) {
  transform: rotateY(45deg);
}


.card-membro {
  width: 30vw;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--palette-orange);
  border-radius: 10px;
  transition: transform 1s ease-in-out;
  font-weight: normal;
  background-color: #fff;
}

.card-membro > p{
  text-align: justify;
  padding: 0 5rem;
  font-size: 15px;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2rem;
}

.card-titulo {
  margin-bottom: 16px;
}

.card-membro a img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

article {
  margin-bottom: 30px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards-membros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-membro a img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }

  .card-membro {
    /* border-bottom: 2px dashed var(--palette-blue); */
    width: 70vw;
  }

  /* .card-membro:last-child {
    border-bottom: none;
  } */
}

/* Telas maiores */
@media screen and (min-width: 1024px) {
}

/* Telas menores */
@media screen and (max-width: 767px) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article > p{
    width: 300px;
  }
  .membros > p{
    margin: 1rem;
    padding: 3rem;
    text-align: justify;
  }
  .cards-membros {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-membro a img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }
  .card-membro > p{
    padding:  1rem;
  }
  .card-membro {
    /* border-bottom: 2px dashed var(--palette-blue); */
    width: 70vw;
  }

  /* .card-membro:last-child {
    border-bottom: none;
  } */
}
